
<h1>Create a new FAQ</h1>
<br>
<h2>
  Hi Admin, welcome to VIF 2023! You can create a new FAQ below. Both fields are required to create FAQ.
</h2>

	<div class="row">
        <div class="col-md-6 col-md-offset-3">
            <%= form_with(model: @faq, local:  true) do |f|  %>
             
              <%= f.label   :username %>
              <%= f.text_field  :question, class: 'form-control'  %>

              <%= f.label    :email %>
              <%= f.text_field  :answer, class: 'form-control' %>

              <%= f.submit "Create FAQ", class: "btn btn-primary" %>
            <% end %>
  	    </div>
	</div>